<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CREDITS" value="Credits: @Kerry1207" />
    <add key="GITHUB_PROFILE" value="https://github.com/Kerry1207" />
    <add key="BRAND_IMAGE_PATH_ASSEMBLY" value="TrelloTools.Resources.Icon.TrelloToolsIconOfficial.png" />
    <add key="GITHUB_ICON_PATH_ASSEMBLY" value="TrelloTools.Resources.Icon.GithubIcon.png" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>